<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 rescap">

	<Identity
	  Name="Mine.LocalSend.Fluent"
	  Publisher="CN=Minessential, C=CN"
	  Version="1.17.0.2" />

	<Properties>
		<DisplayName>LocalSend(Fluent)</DisplayName>
		<PublisherDisplayName>Mine</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="LocalSendFluentApp"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="LocalSend(Fluent)"
			  Description="An open source cross-platform alternative to AirDrop"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  ShortName="LocalSend(Fluent)">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.shareTarget">
					<uap:ShareTarget Description="Send to Localsend(Fluent)">
						<uap:SupportedFileTypes>
							<uap:SupportsAnyFileType />
						</uap:SupportedFileTypes>
						<uap:DataFormat>Text</uap:DataFormat>
						<uap:DataFormat>Uri</uap:DataFormat>
						<uap:DataFormat>StorageItems</uap:DataFormat>
					</uap:ShareTarget>
				</uap:Extension>
				<uap5:Extension Category="windows.startupTask">
					<uap5:StartupTask TaskId="LocalSendFluentStartupTask" Enabled="false" DisplayName="LocalSend(Fluent)" />
				</uap5:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
